<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <main class="home">
            <div class="container">
                <h1><%= title %></h1>
                <p>
                    Добрий день! Мене звати <%= usName %>. Народився в <%=
                    country %>. Родом з міста <%= city %>!
                </p>
            </div>
        </main>
    </body>
</html>
